<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>
  <body style="text-align: center">
    <h1><%= title %></h1>
    <div class="container-fluid">
        <div class="jumbotron" style="text-align: left">
            <ul>
                <li>
                    User Story: I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016).
                </li>
                <li>
                    User Story: If it does, it returns both the Unix timestamp and the natural language form of that date.
                </li>
                <li>
                    User Story: If it does not contain a date or Unix timestamp, it returns null for those properties.
                </li>
            </ul>
        </div><!-- Jumbotron -->
        <div>
            <h2>Examples</h2>
            <p>
                Input: https://ch4tml-ts-ms.herokuapp.com/1262304000<br>
                Ouput: <code>{"unix": "1262304000", "natural": "January 1, 2010"}</code>
            </p>
            <p>
                Input: https://ch4tml-ts-ms.herokuapp.com/May 12, 1986<br>
                Ouput: <code>{"unix": 516240000, "natural": "May 12, 1986"}</code>
            </p>
        </div>
    </div>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
  </body>
  <footer>
      Created by <a href="http://www.freecodecamp.com/ch4tml" target="_blank">ch4tml</a>
  </footer>
</html>